extends baseEmail

block content
  p Hi #{firstName},
  p #{recruiterBusinessName} has offered to complete your $#{taskBudget} task, "#{taskTitle}" for $#{offerAmt}
  p Your due date: #{dueDate}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Review your offer
  p Just log in and accept this offer to confirm with #{recruiterBusinessName}, before the offer expires or their availability changes. 
  p Thank you for your business. 